.unblur {
    filter: blur(0px);
    transition: .4s ease-out filter;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
}


.blur {
    filter: blur(1.5px);
}

.home-page-wrapper main>.blur {
    filter: blur(12px);
}

.home-grid-items-blur .unblur {
    transition: .4s ease-out filter;
}

@media (min-width: 800px) {
    .home-grid-items-blur .blur {
        filter: blur(200px);
    }
}

@media (max-width: 800px) {
    .home-grid-items-blur .blur {
        filter: blur(50px);
    }
}

/* blur home page on nav hover */
header.site-header+.home-page-wrapper .home-grid-blur-container {
    transition: 1.1s linear filter;
}

header.site-header:hover+.home-page-wrapper .home-grid-blur-container {
    filter: blur(80px);
}

.btn-fill:hover {
    filter: blur(1.5px);
}