* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Alte Haas Grotesk', Arial, Helvetica, sans-serif;
    font-size: 18px;
}

img {
    max-width: 100%;
}

a,
a:visited {
    text-decoration: none;
    color: #000;
}

nav ul {
    list-style: none;
}

button {
    outline: none;
    border: none;
    font-family: inherit;
    font-size: inherit;
    background: transparent;
}

button:hover {
    cursor: pointer;
}


.btn-fill {
    display: inline-block;
    padding: 8px 19px;
    border: 1px solid #000000;
    border-radius: 14px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 25px;
    width: 100%;
}

ul.grid {
    list-style: none;
}


h1,
h2,
h3,
h4,
p,
ul,
a {
    font-family: 'Alte Haas Grotesk', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.5px;
    display: block;
}

.text-wrapper>*:not(:last-child) {
    margin-bottom: 12px;
}

.text-wrapper a {
    text-decoration: underline;
}

/* layout */
main {
    display: flex;
    flex-direction: column;
}

/* header */
.header-wrapper {
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    padding: 20px;
    display: flex;
}

.header-wrapper.header-wrapper-basic {
    top: unset;
    bottom: 0;
}



@media (min-width: 800px) {
    .header-wrapper.header-fixed-bottom .dropdown ul {
        bottom: 24px;
        padding-bottom: 60px;
    }

    .header-wrapper:not(.header-fixed-bottom) .dropdown:not(.collapsed) ul {
        padding-top: 60px;
    }
}

@media (max-width: 800px) {
    .header-wrapper.header-fixed-bottom .dropdown-inner {
        display: flex;
        flex-direction: column-reverse;
    }

    .header-wrapper.header-fixed-bottom .dropdown-inner>* {
        margin-top: 15px;
    }

    .header-wrapper:not(.header-fixed-bottom) .dropdown-inner>* {
        margin-bottom: 15px;
    }

    .header-wrapper:not(.header-fixed-bottom) .parent-dropdown-container>button {
        margin-bottom: 15px
    }

    .header-wrapper.header-fixed-bottom .parent-dropdown-container>button {
        margin-top: 15px
    }
}


/* toggle bg color on home page */
.home-layout {
    background-color: #fff;
    color: #000;
    transition: .4s ease-out background-color, color;
}

.home-layout.dark {
    background-color: #000;
    color: #fff;
}

.home-layout.dark button,
.home-layout.dark a {
    color: #fff
}

.client-page .all-images-wrapper {
    max-width: 60vw;
    margin-left: auto;

}

.client-page .all-images-wrapper ul li {
    margin-top: 135px !important;
}